[Desktop Entry]
Type=Application
Name=Lroton
Comment=Vala Wrapper for Proton VPN
GenericName=Lroton
Exec=com.github.rajsolai.lroton %U
Icon=com.github.rajsolai.lroton
Terminal=false
Categories=Utility;GTK;Network;Internet;
Keywords=Internet,VPN
