Package: com.github.rajsolai.lroton-dbgsym
Package-Type: ddeb
Source: com.github.rajsolai.lroton
Version: 0.1ubuntu1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Solai Raj <msraj085@gmail.com>
Installed-Size: 133
Depends: com.github.rajsolai.lroton (= 0.1ubuntu1)
Section: debug
Priority: optional
Description: debug symbols for com.github.rajsolai.lroton
Build-Ids: 81827553cef4bce39c322cc7cdf257da1eb339d1
